body{
    margin: 0px;
    padding: 0px;
    color: #fdfffc;
    text-align: center;
    background-image: url(../images/eagles\ flyover\ on\ mountain.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
h1{
    font-size: 45px;
}

input{
    width: 75px;
    height: 50px;
    font-size: 45px;
    border-radius: 10px;
    margin: 10px;
    background-color: white;
    color: black;
    border-style: none;

}

.btn:hover{
    background-color:yellow;
    cursor: pointer;
}


